/*
ELEMENT SELECTOR
ID SELECTOR
CLASS SELECTOR
*/

body{
  background-color:blue;
  margin:0;
  padding:0;
}

header{
  background-color:black;
  text-size-adjust: 50%;
  padding:2%;
  color:rgb(0, 0, 255);
}

.blog-title{
  display:inline-block;
  width:50%;
 }

.navigation{
  float:right;
  display:inline-block;
  width:50%;
  
}

ul{
  margin:0;
  padding:0;
  text-align:left;
}

ul li{
  margin-left:20px;
  margin-right:5px;
  float:left;
  list-style-type:none;
}

a{
  color:white;
  text-decoration: none;
}

main{
  margin:16px;
}

footer{
  height:6vh;
  background-color:black;
  color:white;
  text-align:center;
}
